# antlr4
antlr/
antlr.tmp/
compiler/.antlr

# compiled files
compiler/build
compiler/generated
*.o
compiler/ifcc

# exclude temporary files
tmp/

# IDE files
.idea

# assembly files
*.s
assembly/

# personal config files
*.env

tests/ifcc-test-output
.history
cmake-build-debug
.vscode
venv
CMakeLists.txt
