# antlr4
antlr/
antlr.tmp/

# compiled files
compiler/build
compiler/generated
*.o
compiler/ifcc

# exclude temporary files
tmp/

# IDE files
.idea
tests/ifcc-test-output

# ignored executables shell scripts
*.sh
*.sh
