# antlr4
antlr/
antlr.tmp/
compiler/.antlr
generated

# compiled files
compiler/build
compiler/generated
*.o
compiler/ifcc
bin/

# exclude temporary files
tmp/

# IDE files
.idea
venv
CMakeLists.txt
.history
cmake-build-debug

# assembly files
*.s
assembly/

# personal config files
*.env

# testing
tests/ifcc-test-output



